# ==========================
# ⚙️ CONFIGURAÇÕES DA API
# ==========================
PORT=3000
NODE_ENV=development
# Separe por vírgula se tiver mais de um frontend (ex: admin na web e o app flutter)
ALLOWED_ORIGINS=http://localhost:3000, http://localhost:5173

# ==========================
# 🗄️ BANCO DE DADOS (PostgreSQL)
# ==========================
DATABASE_URL='postgresql://username:password@localhost:5432/stockup'

# ==========================
# 🔴 REDIS (Blacklist de Tokens e Cache)
# ==========================
REDIS_URL=
# Deixe em branco se rodar no Docker local sem senha
REDIS_PASSWORD=

# ==========================
# 🔐 AUTENTICAÇÃO E SEGURANÇA (JWT)
# ==========================
# Use uma string longa e aleatória 
# Você pode gerar no terminal com o comando: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
JWT_SECRET=
# Tempos de expiração (opcional deixar aqui, mas é boa prática para não chumbar no código)
ACCESS_TOKEN_EXPIRES_IN = '15m'
REFRESH_TOKEN_EXPIRES_IN = '7d'